* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.add-to-cart-holder {
  background: #24435f;
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 10px 8%;
}
.add-to-cart {
  text-align: end;
  position: relative;
  padding: 20px 50px;
}

.notification {
  color: rgb(238, 234, 234);
  position: relative;
  cursor: pointer;
  transition: 1.5s ease;
}

.notification:hover {
  transform: rotate(20deg) scale(1.1);
}

.number {
  position: absolute;
  right: 25px;
  top: 4px;
  width: 10px;
  height: 10px;
  padding: 15px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff0000;
  z-index: 99;
}

.container {
  display: flex;
  padding: 70px 0px 30px 0px;
  width: 80%;
  margin: 0 auto;
}
.sidebar {
  flex: 1;
  padding: 20px;
  position: sticky;
  top: 0;
  height: 100vh;
}

.sidebar h1 {
  font-size: 70px;
  font-style: italic;
  line-height: 20px;
}

.sidebar ul {
  list-style: none;
  margin: 30% 0px 0px 0px;
}

.sidebar li {
  margin: 30px 0px;
  font-size: 18px;
}

.content {
  flex: 8;
  /* background: rgba(230, 2, 2, 0.055); */
}

.banner {
  background-image: url("../src/assest/img/banner3.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 80vh;
  color: white;
  position: relative;
}
/* .bag-shoe {
  width: 300px;
  height: 300px;
  background-image: url("../src/assest/img/bag-clothe.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: absolute;
  bottom: 100px;
  right: 3px;
} */

.intro {
  text-align: center;
  padding: 40px;
}
.intro p {
  max-width: 700px;
  margin: auto;
  line-height: 2rem;
  font-size: 1.1rem;
}
.styler {
  font-size: 35px;
  font-style: italic;
  line-height: 20px;
  font-weight: bold;
  color: red;
  /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.555); */
}
.item-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 10px;
}
.item {
  border: 0.5px dashed #24435f;
  padding: 30px;
  flex-basis: 350px;
  border-radius: 30px 2px 20% 6px;
  box-shadow: 5px 1px 10px 0.5px #ddd8d8;
}

.bag {
  width: 300px;
  height: 300px;
}

.bag img {
  width: 100%;
  height: 100%;
}
.displaytext {
  margin-top: 10px;
  display: flex;
  /* gap: 40px; */
  justify-content: space-between;
}

.displaytext h6 {
  max-width: 150px;

}

.displaytext h3,
h5,
h6 {
  padding: 5px 0px;
}

.displaytext button {
  padding: 10px;
  background: rgb(235, 231, 231);
  margin-bottom: 5px;
  border: none;
  border-radius: 7px;
  font-size: 16px;
  transition: 2s;
  cursor: pointer;
}

.displaytext button:hover {
  background: none;
  border: 2px dotted rgb(235, 231, 231);
  font-size: 12px;
  transition: ease-in-out 2s;
}

@media only screen and (max-width: 1024px){
.displaytext button:active {
  background: red;
}
}


